.profile-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 80px;
    margin-right: 30px;
}

.card-text {
    font-size: 35px;
}

.balance-text {
    font-size: 20px;
}

.white-text {
    color: white;
    margin: 0px;
}

.gray-text {
    color: rgb(125, 141, 155);
    margin: 0px;
}

.card-top-container {
    display: flex;
    justify-content: space-between;
}

/*styling and making the card container responsive*/
.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: 430px;
    width: auto;
    rotate: 270deg;
}